<h1>Bus Details</h1>

<ul>
	  <table>
	 	  <tr>
		    <th>Bus Name</th>
		    <th>Bus Number</th>
		    <th>Total Seats</th>
		    <th>Available Seats</th>
		    <th>Departure Time</th>
		    <th>Arrival Time</th>
		  </tr>
	  </table>
	   <!-- <#% binding.pry %> -->
	  <% @buses.each do |mybus| %>
			<table>
			  <tr>
			    <!-- <td><%#= link_to mybus.id, mybus %></td> -->
			    <td><%= mybus.name %></td>
			    <td><%= mybus.number %></td>
			    <td><%= mybus.total_seats %></td>
			    <td><%= mybus.available_seats %></td>
			    <td><%= mybus.departure_time %></td>
			    <td><%= mybus.arrival_time %></td>
			    <!-- <td><%#= link_to "Book Bus",   %></td> -->
			  </tr>
			</table>
	  <% end %>
</ul>