<div class="container">
  <div class="row justify-content-center" style="margin-top: 100px">
    <div class="col-md-6">
      <h1 style="margin-top: 10px;margin-left: 80px;color:green;">Welcome To RedBus.com</h1><br>
      <%= form_with url:dashboard_index_path, local: true, method: :get do |f| %>
        <div class="form-group">
          <%= f.label :from %>
          <%= f.collection_select :from_id, City.order(:name),:id,:name, {}, {class: 'form-select'} %>
          <%#= f.text_field :from, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :to %>
          <%= f.collection_select :to_id, City.order(:name),:id,:name, {}, {class: 'form-select'} %>
          <%#= f.text_field :to, class: "form-control", required: true %> 
        </div>
        <div class="form-group">
          <%= f.label :date %>
          <%= f.date_field :date, class: "form-control", required: true %>
        </div>
        <!-- <.%= f.submit "Log in", class: "btn btn-primary btn-block" %> -->
        <% if current_user.type == 'Customer' %>
          <%= submit_tag 'Search', class: "btn btn-primary btn-block mt-2" %>
          <%= link_to "Show Bookings", bookings_path, 
             class: "btn btn-success"%>
        <% end %>
       <% if current_user.type == 'Admin' %>
          <%= submit_tag 'Show Buses', class: "btn btn-outline-primary" %>
          <%= submit_tag 'Create Bus Routes',  formaction:new_bus_route_path,class: "btn btn-outline-warning" %>
       <% end %>
      <% end %>
    </div>
  </div>
</div>