<div class="container">
  <h2><h1 class="text-success text-center text-uppercase"><dt>Congratulations!!!!!!</dt></h1></h2>
  <h2><h1 class="text-warning text-center">You Can See Your Booking Information as Below</h1></h2>
  <table class="table table-hover">
    <thead>
       <tr>
        <th>Booking Id</th>
        <th>Bus Name</th>
        <th>User Name</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Ticket No</th>
        <th>Booking Status</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |mybus| %>
        <tr>
          <td><%= mybus.id %></td>
          <td><%= mybus.bus.name %></td>
          <td><%= mybus.customer.name %></td>
          <td><%= mybus.bus_route.from %></td>
          <td><%= mybus.bus_route.to %></td>
          <td><%= mybus.bus_route.buses.last.departure_time %></td>
          <td><%= mybus.bus_route.buses.last.arrival_time %></td>   
          <!-- <.% if current_user.type == 'Admin'%> --> 
            <td><%= mybus.ticket_no %></td>
          <!-- <.% end %> -->
          <td><%= mybus.status %></td>

          <!-- Add more cells here for additional data fields -->
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
</body>
<!-- <.% end %> -->


