<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
  <h2><h1 class="text-success text-center text-uppercase"><dt>Congratulations!!!!!!</dt></h1></h2>
  <h2><h1 class="text-warning text-center">You Can See Your Booking Information as Below</h1></h2>
  <table class="table">
    <thead>
       <tr>
        <th>Booking Id</th>
        <th>User Name</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Ticket No</th>
        <th>Booking Status</th>
      </tr>
    </thead>
    <tbody>
      <% binding.pry %>
      <% @bookings.each do |mybus| %>
        <tr>
          <td><%= mybus.id %></td>
          <th><%= mybus.customer.name %></th>
          <th><%= mybus.bus_route.from %></th>
          <th><%= mybus.bus_route.to %></th>
          <th><%= mybus.bus_route.buses.first.departure_time %></th>
          <th><%= mybus.bus_route.buses.first.arrival_time %></th>   
          <th><%= mybus.ticket_no %></th>
          <th><%= mybus.status %></th>
          <!-- Add more cells here for additional data fields -->
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

</body>
